<a href="https://colab.research.google.com/github/NAV1DA/comp4008/blob/main/COMP4008_exercise_sheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab 1 Part 1 (assessed): Preliminary Exercises on Lists and Variables**

Here are some introductory exercises on lists and variables. This is the **assessed** part of the sheet. Once you have completed it, you should show your solutions to one of the teachers in the class, either on Wednesday (4th) or Friday (6th).

To complete each task, you should fill in the code block that begin with a # symbol, replacing the text that is there with your code. Once you have completed the code, either click the "play" symbol to the left of the block, or press shift-return on your keyboard. If there is output from that piece of code, it will then display in a new block underneath the code.

The tasks use similar ideas to those demonstrated in the lecture on Monday, so you should have a look at that for ideas and inspiration.

The following block creates a list of three names

In [ ]:
listOfNames = ["Kermit the Frog", "Fozzie Bear", "Beaker", "Animal"]

In the next block, write two lines of code, to append the name "Miss Piggy" to the list, then to display the list

In [ ]:
listOfNames.append("Miss Piggy")
listOfNames

['Kermit the Frog', 'Fozzie Bear', 'Beaker', 'Animal', 'Miss Piggy']

The next block contains a definition, *addStudent*, of a function that takes the name of a list, a piece of text containing the student's name, and a number that is their mark in their Maths module, and adds a new item to the list containing those three pieces of information. You do not have to do anything to the code in the next block.

In [ ]:
def addStudent(listOfStudents, studentName, maths):
  listOfStudents.append([studentName,maths])

In the next block, make a copy of *addStudent* from above and modify it so that in addition to the student's name and maths mark, it also records the student's hall of residence (a string of text), and numbers that represent the student's marks in English and in Programming.

In [ ]:
def addStudent(listOfStudents, studentName, residence, maths, english, programming):
  listOfStudents.append([studentName, residence, maths, english, programming])

In the next block, write five lines of code that (1) creates an empty list called *studentRecords* and (2) uses the newly defined *addStudent* function to add the following students to *studentRecords*.

| Name              | Residence          | Maths | English | Programming |
|-------------------|--------------------|-------|---------|-------------|
| Kermit the Frog   | Sherwood Hall      | 65    | 78      | 52          |
| Fozzie Bear       | Newark Hall        | 48    | 45      | 42          |
| Animal            | Sherwood Hall      | 35    | 68      | 48          |
| Miss Piggy        | Melton Hall        | 78    | 75      | 85          |

In [ ]:
studentRecords = []
addStudent(studentRecords, "Kermit the Frog", "Sherwood Hall", 65, 78, 52)
addStudent(studentRecords, "Fozzie Bear", "Newark Hall", 48, 45, 42)
addStudent(studentRecords, "Animal", "Sherwood Hall", 35, 68, 48)
addStudent(studentRecords, "Miss Piggy", "Melton Hall", 78, 75, 85)

In the next block, write a line of code that lists just the students who have a mark of 50 or over in Maths

In [ ]:
[p for p in studentRecords if p[2]>50]

[['Kermit the Frog', 'Sherwood Hall', 65, 78, 52],
 ['Miss Piggy', 'Melton Hall', 78, 75, 85]]

In the next block, write a line of code that lists all the students who have a mark under 50 in all of Maths, English or Programming.

In [ ]:
[p for p in studentRecords if p[2] <50 and p[3] < 50 and p[4] <50]

[['Fozzie Bear', 'Newark Hall', 48, 45, 42]]

**This is the end of the assessed part of the worksheet.** Show this to one of the class teachers who will discuss it with you and, if you have completed it successfully, give you your marks. If you are not successful, try again and show it again later in the class or in a future class.

**Lab 1 Part 2 (unassessed): Additional Tasks**

If you have completed the above tasks, here are some additional tasks for you to do, in order to extend your knowledge and practice more.

In the next block, write a line of code that lists all the students who have a mark under 50 in one or more of Maths, English and Programming. You will need to use the word *or* where you used *and* in the previous block.

In [ ]:
[p for p in studentRecords if p[2] <50 or p[3]< 50 or p[4]< 50]

[['Fozzie Bear', 'Newark Hall', 48, 45, 42],
 ['Animal', 'Sherwood Hall', 35, 68, 48]]

In the next block, write a new version of *addStudent* that checks (1) if any of the marks are below 0 or over 100, and (2) that the residence is one of "Sherwood Hall", "Newark Hall", or "Melton Hall". If any of these conditions are not satisfied, print an error message and don't add the student to the list.

In [ ]:
def addStudent(listOfStudents, studentName, residence, maths, english, programming):
  if (maths < 0 or maths > 100) or (english < 0 or english > 100) or (programming < 0 or programming > 100) or (residence != "Sherwood Hall" or residence != "Newark Hall" or residence != "Melton Hall"):
    print("Student has invalid values, please try again.")
  else:
    listOfStudents.append([studentName, residence, maths, english, programming])

[to add - student average marks, testing the above